<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contacts</title>
</head>
<body>
    <h1>Send us a message</h1>
    <form method="post">
        <br>
        <p><b><h2>Title of message</h2></b></p>
        <input type="text" name="title" placeholder="Title"><Br>
        <p><b>Enter your email address</b></p>
        <input type="email" name="email" placeholder="email"><Br>
        <p><b>Your message</b></p>
        <textarea name="message" placeholder="Enter your message here" type="text" cols="40" rows="3"></textarea><Br>
        <Br><button type="submit">Send a message</button>
        <button type="reset">Clear</button>
    </form>
</body>
</html>
