<div>
    <div>
        <div>
            <h3><a href='/contacts'>Контакты</a></h3>
        </div>
        <div>
            <h3><a href="#">Полезная информация</a></h3>
        </div>
        <div>
            <h3>Оставайтесь на связи</h3>
            <p><a href="#">Подписаться на новости и рассылки</a></p>
            <form>
                <input type="email" name="email" placeholder="ваш email">
                <a href="#"><i class="subscription" aria-hidden="true"></i></a>
            </form>
        </div>
    </div>
    <p class="small">&copy; idel 2022</p>
    <div class="social">
        <a href="#" class="social1">VK</a>
        <a href="#" class="social2">FaceBook</a>
        <a href="#" class="social3">Google</a>
        <a href="#" class="social4">OK</a>
    </div>
</div>
